<table>
    <tr>
        <td>
            <b>Acronym</b>
        </td>
        <td>
            <b>Standards Org</b>
        </td>
        <td>
            <b>Description</b>
        </td>
        <td>
            <b>Types</b>
        </td>
        <td>
            <b>Data Layers</b>
        </td>
        <td>
            <b>Ed Levels</b>
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.imsglobal.org/activity/caliper"><b>Caliper</b></a>
        </td>
        <td>
            IMS Global
        </td>
        <td>
            <b>IMS Caliper Analytics</b>: A protocol for transmitting and collecting learning events for later analysis.
        </td>
        <td>
            Student Data
        </td>
        <td>
            4. Protocol
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.imsglobal.org/activity/case"><b>CASE</b></a>
        </td>
        <td>
            IMS Global
        </td>
        <td>
            <b>Competencies &amp; Academic Standards Exchange: </b>A standard format for representing competency frameworks such as state standards, learning objectives, etc.
        </td>
        <td>
            Competency Data Model
        </td>
        <td>
            1. Data Dict<br />
            2. Data Model<br />
            3. Serialization<br />
            4. Protocol
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.corestandards.org/"><b>CCSS</b></a>
        </td>
        <td>
            CCSSO/NGA
        </td>
        <td>
            <b>Common Core State Standards:</b> Competency standards for English Language Arts - Literacy and Mathematics for K-12. Adopted by many U.S. States.
        </td>
        <td>
            Competency &amp; Achievement
        </td>
        <td>
            N/A
        </td>
        <td>
            K-12
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://ceds.ed.gov/"><b>CEDS</b></a>
        </td>
        <td>
            US Ed
        </td>
        <td>
            <b>Common Education Data Standards:</b> Data Dictionary and Logical Data Model for representing educational data of all sorts.
        </td>
        <td>
            Competency Data<br />
            Student Data<br />
            Educator Data<br />
            Content Data
        </td>
        <td>
            1. Data Dict.<br />
            2. Data Model
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.imsglobal.org/activity/comprehensive-learner-record"><b>CLR</b></a>
        </td>
        <td>
            IMS Global
        </td>
        <td>
            <b>Comprehensive Learner Record:</b> A digital record for learners incorporating all learning experiences and achievements.
        </td>
        <td>
            Student Data
        </td>
        <td>
            3. Serialization
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.ed-fi.org/"><b>Ed-Fi</b></a>
        </td>
        <td>
            Ed-Fi Alliance
        </td>
        <td>
            <b>Ed-Fi:</b> Rules that allow educational data systems to connect and share educational data.
        </td>
        <td>
            Student Data<br />
            Educator Data<br />
            Content Data
        </td>
        <td>
            3. Serialization<br />
            4. Protocol
        </td>
        <td>
            Pre-K to 12
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://en.wikipedia.org/wiki/Electronic_data_interchange"><b>EDI</b></a>
        </td>
        <td>
            NIST
        </td>
        <td>
            <b>Electronic Data Interchange:</b> An older data transmission standard. In education, the principal use is exchange of student transcript data between institutions.
        </td>
        <td>
            Foundational
        </td>
        <td>
            4: Protocol
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://idpf.org/edupub"><b>EPUB</b></a>
        </td>
        <td>
            IDPF
        </td>
        <td>
            <b>EPUB for Education:</b> A profile of the IDPF EPUB standard for digital book publishing targeted at education. Formerly known as EduPUB
        </td>
        <td>
            Content Packaging
        </td>
        <td>
            3. Serialization
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www2.ed.gov/policy/gen/guid/fpco/ferpa/index.html"><b>FERPA</b></a>
        </td>
        <td>
            US Government
        </td>
        <td>
            <b>Family Educational Rights and Privacy Act:</b> A U.S. Federal law that protects the privacy of student education records.
        </td>
        <td>
            Design &amp; Practice
        </td>
        <td>
            N/A
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.w3.org/html"><b>HTML</b></a>
        </td>
        <td>
            W3C
        </td>
        <td>
            <b>HyperText Markup Language:</b> Standard format for web content. Many applications and standards make use of HTML format content.
        </td>
        <td>
            Foundational
        </td>
        <td>
            3. Serialization
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://tools.ietf.org/html/rfc7230"><b>HTTP</b></a>
        </td>
        <td>
            IETF
        </td>
        <td>
            <b>HyperText Transfer Protocol:</b> Standard protocol for transmitting content and data on the internet. The world-wide web and many data exchange protocols are based on HTTP.
        </td>
        <td>
            Foundational
        </td>
        <td>
            3. Serialization
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.imsglobal.org/cc"><b>IMS CC</b></a>
        </td>
        <td>
            IMS Global
        </td>
        <td>
            <b>IMS Common Cartridge:</b> A content packaging standard for course materials.
        </td>
        <td>
            Content Packaging
        </td>
        <td>
            1. Data Dict.<br />
            2. Data Model<br />
            3. Serialization
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.imsglobal.org/content/packaging/index.html"><b>IMS CP</b></a>
        </td>
        <td>
            IMS Global
        </td>
        <td>
            <b>IMS Content Packaging: </b>A format for packaging content and associated metadata for exchange between educational systems.
        </td>
        <td>
            Content Packaging
        </td>
        <td>
            1. Data Dict.<br />
            2. Data Model<br />
            3. Serialization
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.iste.org/standards"><b>ISTE Standards</b></a>
        </td>
        <td>
            ISTE Standards
        </td>
        <td>
            The <b>ISTE Standards</b> are a framework of practice for technology-supported learning. They include standards for students, educators, leaders, and coaches.
        </td>
        <td>
            Competency &amp; Achievement
        </td>
        <td>
            N/A
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://ecma-international.org/publications/standards/Ecma-404.htm"><b>JSON</b></a>
        </td>
        <td>
            ECMA
        </td>
        <td>
            <b>JSON:</b> A lightweight text-based format for data interchange. Many educational data formats are based on json.
        </td>
        <td>
            Foundational
        </td>
        <td>
            3. Serialization
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://standards.ieee.org/standard/1484_12_1-2002.html"><b>LOM</b></a>
        </td>
        <td>
            IEEE
        </td>
        <td>
            <b>Learning Object Metadata:</b> A schema for metadata about learning objects or resources.
        </td>
        <td>
            Content Metadata
        </td>
        <td>
            1. Data Dict.<br />
            2. Data Model<br />
            3. Serialization
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://dublincore.org/specifications/lrmi"><b>LRMI</b></a>
        </td>
        <td>
            Dublin Core
        </td>
        <td>
            <b>Learning Resource Metadata Initiative:</b> A set of metadata terms for describing learning resources and their relationship to standards or competencies.
        </td>
        <td>
            Content Metadata
        </td>
        <td>
            1. Data Dict.<br />
            2. Data Model
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.imsglobal.org/activity/learning-tools-interoperability"><b>LTI</b></a>
        </td>
        <td>
            IMS Global
        </td>
        <td>
            <b>IMS Learning Tools Interoperability:</b> A protocol that enables a learning management system to incorporate custom learning tools or experiences offered by another system.
        </td>
        <td>
            Content Integration
        </td>
        <td>
            4. Protocol
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.nextgenscience.org/"><b>NGSS</b></a>
        </td>
        <td>
            Achieve
        </td>
        <td>
            <b>Next Generation Science Standards: </b>A set of standards and competency framework for science education. Adopted by several states.
        </td>
        <td>
            Competency &amp; Achievement
        </td>
        <td>
            N/A
        </td>
        <td>
            K-12
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://openbadges.org/"><b>OBI</b></a>
        </td>
        <td>
            IMS Global
        </td>
        <td>
            <b>Open Badge Infrastructure:</b> A format for communicating skills and achievements.
        </td>
        <td>
            Student Data
        </td>
        <td>
            3. Serialization<br />
            4. Protocol
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.imsglobal.org/activity/onerosterlis"><b>OneRoster</b></a>
        </td>
        <td>
            IMS Global
        </td>
        <td>
            <b>OneRoster:</b> A protocol and format for secure exchange of
            class roster information between applications.
        </td>
        <td>
            Student Data
        </td>
        <td>
            3. Serialization<br />
            4. Protocol
        </td>
        <td>
            K-12
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.pesc.org/"><b>PESC</b></a>
        </td>
        <td>
            PESC
        </td>
        <td>
            <b>PESC Standards for Credential Exchange: </b>A set of standards for communicating student transcript information between institutions including high school to college and between colleges and universities.
        </td>
        <td>
            Student Data
        </td>
        <td>
            1. Data Dict<br />
            2. Data Model<br />
            3. Serialization<br />
            4. Protocol
        </td>
        <td>
            Higher Ed
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.imsglobal.org/question"><b>QTI</b></a>
        </td>
        <td>
            IMS Global
        </td>
        <td>
            <b>IMS Question and Test Interoperability:</b> A content packaging format for questions (assessment items) and tests.
        </td>
        <td>
            Content Packaging
        </td>
        <td>
            1. Data Dict.<br />
            2. Data Model<br />
            3. Serialization
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.adlnet.gov/scorm"><b>SCORM</b></a>
        </td>
        <td>
            ADL
        </td>
        <td>
            <b>Sharable Content Object Reference Model:</b> A format for developing and publishing reusable digital learning resources for use in learning management systems and other learning environments.
        </td>
        <td>
            Content Packaging
        </td>
        <td>
            2. Data Model<br />
            3. Serialization
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.section508.gov/"><b>Section 508</b></a>
        </td>
        <td>U.S. Government</td>
        <td>
            U.S Federal Government Requirements for accessibility of IT applications.
        </td>
        <td>
            Design &amp; Practice
        </td>
        <td>
            N/A
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.a4l.org/page/DataModel"><b>SIF Data Model</b></a>
        </td>
        <td>
            A4L
        </td>
        <td>
            <b>SIF Data Model:</b> Data model for representing and transmitting educational information.
        </td>
        <td>
            Student Data<br />
            Educator Data<br />
            Content Data
        </td>
        <td>
            2. Data Model<br />
            3. Serialization
        </td>
        <td>
            K-12
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.a4l.org/page/Infrastructure"><b>SIF Infrastructure</b></a>
        </td>
        <td>
            A4L
        </td>
        <td>
            <b>SIF Infrastructure:</b> Protocol for transmitting educational information.
        </td>
        <td>
            Student Data<br />
            Educator Data<br />
            Content Data
        </td>
        <td>
            4. Protocol
        </td>
        <td>
            K-12
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.cast.org/our-work/about-udl.html"><b>UDL</b></a>
        </td>
        <td>
            CAST
        </td>
        <td>
            <b>Universal Design for Learning:</b> A framework to optimize teaching and learning based on learning science and in support of students of all abilities.
        </td>
        <td>
            Design &amp; Practice
        </td>
        <td>
            N/A
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.w3.org/WAI/standards-guidelines/wcag"><b>WCAG</b></a>
        </td>
        <td>
            W3C
        </td>
        <td>
            <b>Web Content Accessibility Guidelines:</b> A set of guidelines for ensuring that web content is accessible to people with disabilities.
        </td>
        <td>
            Design &amp; Practice
        </td>
        <td>
            N/A
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.adlnet.gov/xapi"><b>xAPI</b></a>
        </td>
        <td>
            ADL
        </td>
        <td>
            <b>Experience API:</b> A protocol for reporting and tracking learning activities and experiences.
        </td>
        <td>
            Student Data
        </td>
        <td>
            4. Protocol
        </td>
        <td>
            All
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.w3.org/XML"><b>XML</b></a>
        </td>
        <td>
            W3C
        </td>
        <td>
            <b>Extensible Markup Language:</b> A common format for representing digital content and data. Many educational data formats are based on XML.
        </td>
        <td>
            Foundational
        </td>
        <td>
            3. Serialization
        </td>
        <td>
            All
        </td>
    </tr>
</table>
