<!-- Header Bar -->
<header>

	<!-- logo -->
	<a href="/matrix.html"><img style="float: left; height: 4em; width: 4em;" src="/res/EdMatrix-Logo.png" /></a>
	<div class="siteblock">
	    <h1><a href="/matrix.html">EdMatrix</a></h1>
        <h2>Directory of Learning Data and Content Standards</h2>
	</div>

	<!-- main navigation -->	
	<nav>
        <ul>
            <li><a href="/matrix.html">Standards Directory</a></li>
            <li><a href="/organizations.html">Standards Organizations</a></li>
            <li><a href="/about.html">About EdMatrix</a></li>
			<li><a href="/news.html">Latest News</a></li>
        </ul>
	</nav>
</header>
