<!-- Header Bar -->
<div style="height:55px;" id="header">

	<!-- logo -->
	<div style="float:left;">
	    <a href="/" style="color:inherit; text-decoration:inherit;">
	    	<span style="font-family:Tahoma, Geneva, sans-serif; font-size:40px;font-weight:bold;font-style:oblique">EdMatrix</span>
	   	</a>
	</div>

	<!-- main navigation -->	
	<div style="text-align:right;">
		<div class="top-nav" style="padding: 0px 4px;">
			<a href="http://www.ofthat.com">By Brandt Redd</a><br/>
			<a href="http://www.ofthat.com">OfThat.com</a>
	    </div>
	</div>
</div>
