<!-- Header Bar -->
<header>

	<!-- logo -->
	<div class="siteblock">
		<img style="float: left; height=4em; width=4em;" src="/res/EdMatrix-Logo.png">
	    <h1><a href="/matrix.html">EdMatrix</a></h1>
        <h2>Education Standards Directory</h2>
	</div>

	<!-- main navigation -->	
	<nav>
        <ul>
			<!-- <li><a href="/news.html">News</a></li> -->
            <li><a href="/about.html">About EdMatrix</a></li>
			<li><a href="/news.html">Latest News</a></li>
            <li><a href="/contribute.html">How to Contribute Updates</a></li>
        </ul>
	</nav>
</header>
