<meta charset="utf-8">
<meta name="description" content="Taxonomy and matrix of education standards." />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="EdMatrix" />
<meta property="og:description" content="Taxonomy and matrix of education standards." />
<meta property="og:image" content="https://www.edmatrix.org/EdStandardsMatrix.png" />
<meta property="og:site_name" content="EdMatrix" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@BrandtRedd" />
<meta name="twitter:image" content="https://www.edmatrix.org/EdStandardsMatrix.png" />
<link rel="stylesheet" type="text/css" media="all" href="/res/EdMatrix.css" />
<link rel="icon" type="image/x-icon" href="/res/EdMatrix.ico">
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
