<!DOCTYPE html>
<html>

<head>
<title>{{ page.title | escape }}</title>
{% include head.html %}
</head>

<body id="body-doc">

<div id="main-doc">
	<table class="layout" style="width:100%;"><tr>
		<td style="width:30%;">
			<!-- logo -->
		    <a href="/" style="color:inherit; text-decoration:inherit;">
		    	<span style="font-family:Tahoma, Geneva, sans-serif; font-size:40px;font-weight:bold;font-style:oblique">EdMatrix</span>
		   	</a>
		</td>
		<td style="width:70%; vertical-align:top;">
			<div class="title" style="text-align:right;margin:0;">{{ page.title | escape }}</div>
			<div class="subtitle" style="text-align:right;margin:0;">{{ page.date }} | {{ page.version | escape }}</div>
		</td>
	</tr></table>
	<hr/>
	<div id="content" style="min-height: 40em;">
		{{ content }}
	</div>
	{% include footer.html %}
</div>

</body>

</html>
