<!DOCTYPE html>
<html>

<head>
<title>{{ page.title | escape }}</title>
{% include head.html %}
</head>

<body>
    <main>
        <div id="frame">
            {% include header.html %}
			<main>
				<article style="min-height: 16em;">
					<table class="layout">
						<tr><td><b>Organization</b></td><td><a href="{{ page.orgurl }}">{{ page.title | escape }}</a></td></tr>
						<tr><td><b>URL</b></td><td><a href="{{ page.orgurl }}">{{ page.orgurl | escape }}</a></td></tr>
						<tr><td><b>Region</b></td><td>{{ page.region }}</td></tr>
					</table>
					<hr/>
					<div>
						{{ content }}
					</div>
					<hr>
					<h2>Standards</h2>

					<table>
						<tr><th>Standard</th><th>Description</th><th style="min-width: 10em;">Types</th><th style="min-width: 8.5em;">Data Layers</th><th>Ed<br/>Levels</th></tr>
						{%- for post in site.stds | where:"org",page.title -%}
						<tr>
							<td><a href="{{ post.stdurl }}">{{ post.title | escape }}</a></td>
							<td class="streamline">{{ post.excerpt }} <a href="{{ post.url }}">(more)</a></td>
							<td>
							{%- assign tps = post.types | split: "," -%}
							{%- for type in tps -%}
								{%- unless forloop.first -%}<br/>{%- endunless -%}
								{{ type | strip }}
							{%- endfor -%}
							</td>		
							<td>
							{%- assign layers = post.datalayers | split: "," -%}
							{%- for layer in layers -%}
								{%- unless forloop.first -%}<br/>{%- endunless -%}
								{%- assign s = layer | strip -%}
								{%- case s -%}
									{%- when '1' -%}1. Data Dict
									{%- when '2' -%}2. Data Model
									{%- when '3' -%}3. Serialization
									{%- when '4' -%}4. Protocol
								{%- endcase -%}
							{%- endfor -%}</td>
							<td>
							{%- assign tps = post.edlevels | split: "," -%}
							{%- for level in tps -%}
								{%- unless forloop.first -%}<br/>{%- endunless -%}
								{{ level | strip }}
							{%- endfor -%}
							</td>
						</tr>
						{%- endfor -%}
					</table>

				</article>
			</main>
            {% include footer.html %}
        </div>
    </main>
</body>

</html>
