<!DOCTYPE html>
<html>

<head>
<title>{{ page.title | escape }}</title>
{% include head.html %}
</head>

<body>
    <main>
        <div id="frame">
            {% include header.html %}
            <div id="content" style="min-height: 400px;">
                <div class="title">{{ page.title | escape }}</div>
                <div><b>{{ page.date | date_to_string }}</b> by {{ page.author }}</div>
                {{ content }}
            </div>
            {% include footer.html %}
        </div>
    </main>
</body>

</html>
