<!DOCTYPE html>
<html>

<head>
<title>{{ page.title | escape }}</title>
{% include head.html %}
</head>

<body>
    <main>
        <div id="frame">
            {% include header.html %}
			<main>
				<article style="min-height: 16em;">
					<table class="layout">
						<tr><td><b>Standard</b></td><td><a href="{{ page.stdurl }}">{{ page.title | escape }}</a></td></tr>
						<tr><td><b>URL</b></td><td><a href="{{ page.stdurl }}">{{ page.stdurl | escape }}</a></td></tr>
						<tr><td><b>Standards Org</b></td><td><a href="/orgs/{{ page.org | slugify: "latin" }}.html">{{ page.org | escape }}</a></td></tr>
						<tr><td><b>Types</b></td><td>
						{%- assign tps = page.types | split: "," -%}
						{%- for type in tps -%}
							{%- unless forloop.first %}, {% endunless -%}
							{{ type | strip }}
						{%- endfor -%}
						</td></tr>
						<tr><td><b>Data Layers</b></td><td>
						{%- assign layers = page.datalayers | split: "," -%}
						{%- for layer in layers -%}
							{%- unless forloop.first -%}<br/>{%- endunless -%}
							{%- assign s = layer | strip -%}
							{%- case s -%}
								{%- when '1' -%}1. Data Dictionary
								{%- when '2' -%}2. Data Model
								{%- when '3' -%}3. Serialization
								{%- when '4' -%}4. Protocol
							{%- endcase -%}
						{%- endfor -%}
						</td></tr>
						<tr><td><b>Ed Levels</b></td><td>
						{%- assign tps = page.edlevels | split: "," -%}
						{%- for level in tps -%}
							{%- unless forloop.first %}, {% endunless -%}
							{{ level | strip }}
						{%- endfor -%}
						</td></tr>
						<tr><td><b>Context</b></td><td>{{ page.context }}</td></tr>
					</table>
					<hr/>
					<div>
						{{ content }}
					</div>
				</article>
			</main>
            {% include footer.html %}
        </div>
    </main>
</body>

</html>
